@font-face {
  font-family: Netflix;
  src: url(BebasNeue-Regular.otf);
}

*{
	font-family: Netflix;
	color: white;
}


body {
	background-repeat: no-repeat;
	background-image: url("Netflix BG.jpeg");
	background-attachment: fixed;
}

.container{
	position: relative;
}

.header{
	font-family: Netflix;
	color: red;
	font-size: 80px;
	text-align: center;
}
.description{
	position: relative;
	text-align: center;
	font-size: 25px;
}
.shadow{
	position: relative;
	width: 600px;
	height: auto;
	background-color: black;
	opacity: 0.75;
	margin: auto;
	padding: 25px;
}
.box{
	font-size: 25px;
	padding: 10px;

}
.boxes{
	margin: auto;
	width: 100%;
	height: 30px;

}
input{
	font-size: 20px;
	color: black;
}
.radio{
	font-size: 25px;
	
}
input[type="radio"]{
	width: 20px;
	height: 20px;
}
textarea{
	color: black;
	width: 100%;
	font-size: 20px;
	margin-top: 20px;
}
input[type="submit"]{
	color: white;
	background-color: red;
	border-radius: 50px;
	border-style: none;
	margin-top: 50px;
	left: 50%;
	position: relative;
	transform: translate(-50%, -50%);
	width: 120px;
	height: 40px;
	z-index: 5;
	font-size: 25px;
}
